# DADS files to ignore during git status
# *created  "Wed Oct 16 14:25:16 2013" *by "Paul E. Black"
# *modified "Fri Oct 18 13:10:17 2013" *by "Paul E. Black"

# emacs backup file
*~
\#*\#

# generic files copied from site-specific files
Pages/bitsImageLogos.m4
Pages/bitsHostedBy.m4
Pages/bitsHOSTis.m4
mksite.pl

# particular files
htmlWarnings.new

# these are created from .m4 files
Pages/HTMLindex.html
Pages/bibliography
Pages/contrib.concl
Pages/contrib.intro
Pages/creditNotice.html
Pages/entry.concl
Pages/entry.intro
Pages/terms.concl
Pages/terms.intro
Pages/terms2.concl
Pages/terms2.intro
Pages/terms2page.concl
Pages/terms2page.intro
Pages/termsArea.concl
Pages/termsArea.intro
Pages/termsImpl.concl
Pages/termsImpl.intro
Pages/termsType.concl
Pages/termsType.intro
Pages/twolevelExplain.html
Pages/ui.concl
Pages/ui.intro

# end of file
