# DADS files to ignore during git status
# *created  "Wed Oct 16 14:25:16 2013" *by "Paul E. Black"
# *modified "Fri Jun  8 10:26:41 2018" *by "Paul E. Black"

# $Log$
# Mon Sep 18 10:34:18 2017  Paul E. Black
# Ignore Images/gifs.html: it is recreated by mkgifspage
# 
# Tue May 20 11:18:40 2014  Paul E. Black
# Ignore dads.spell.new
# 
# Wed May 14 10:33:49 2014  Paul E. Black
# Ignore Target directory during "git status"
# 
# Fri Nov  8 16:44:44 2013  Paul E. Black
# Ignore new generic file, bitsReqHeadStuff, and gcommit backups, *.bak.
# Add $Log$ line.
# 

# emacs backup files
*~
\#*\#

# gcommit backup files
*.bak

# Target (output) directory
Target

# generic files copied from site-specific files
Pages/bitsImageLogos.m4
Pages/bitsHostedBy.m4
Pages/bitsHOSTis.m4
Pages/bitsReqHeadStuff.m4
mksite.pl

# particular files
dads.spell.new
htmlWarnings.new

# these are created from .m4 files
Pages/HTMLindex.html
Pages/bibliography
Pages/contrib.concl
Pages/contrib.intro
Pages/creditNotice.html
Pages/entry.concl
Pages/entry.intro
Pages/terms.concl
Pages/terms.intro
Pages/terms2.concl
Pages/terms2.intro
Pages/terms2page.concl
Pages/terms2page.intro
Pages/termsArea.concl
Pages/termsArea.intro
Pages/termsImpl.concl
Pages/termsImpl.intro
Pages/termsType.concl
Pages/termsType.intro
Pages/twolevelExplain.html
Pages/ui.concl
Pages/ui.intro

# this is created from gifs.intro and gifs.concl by mkgifpage
Images/gifs.html
# this is just a link to gifs.html
Images/index.html

# end of file
